---
import NotesNavigation from "../../components/NotesNavigation.astro";

export async function getStaticPaths({ paginate }) {
    const allNotesPages = await Astro.glob('../notes/**/*.md');
    return paginate(allNotesPages, { pageSize: 1 });
}

const { page } = Astro.props;
---

<h1> page {page.currentPage} </h1>

<nav id="notes-navigation">
    {page.url.previous ? <a href={page.url.prev}>Previous Note</a> : null}
    {page.url.next ? <a href={page.url.next}>Next Note</a> : null}
</nav>

<NotesNavigation prevUrl={page.url.prev} nextUrl={page.url.next}/>