---
import MainLayout from '../../layouts/MainLayout.astro';
import FetchedNote from '../../components/FetchedNote.astro';

export async function getStaticPaths() {
    const allNotes = await Astro.glob('../notes/00Git/*.md');

    return [
        { params: { tag: "branches" }, props: { notes: allNotes } },
        { params: { tag: "commits" }, props: {notes: allNotes} },
        { params: { tag: "files" }, props: {notes: allNotes} },
        { params: { tag: "git" }, props: {notes: allNotes} },
        { params: { tag: "log" }, props: {notes: allNotes} },
        { params: { tag: "prettify" }, props: {notes: allNotes} },
        { params: { tag: "status" }, props: {notes: allNotes} }
    ]
}

const { tag } = Astro.params;
const { notes } = Astro.props;
const { filteredNotes } = notes.filter((note) => note.frontmatter.tags.includes(tag));
---

<mainLayout pageTitle={tag}>
    <p>Notes tagged with {tag}</p>
    <ul>
        <!-- {filteredNotes.map((note) => <li><a href={note.url}>{note.frontmatter.title}</a></li>)} -->
        <!-- {filteredNotes.map(note => <FetchedNote url={note.url} title={note.frontmatter.title}/>)} -->
    </ul>
</mainLayout>