---
import MainLayout from '../../layouts/MainLayout.astro';
import FetchedNote from '../../components/FetchedNote.astro';

export async function getStaticPaths() {
    const allNotes = await Astro.glob('../notes/**/*.md');
    const uniqueTags = [...new Set(allNotes.map((note) => note.frontmatter.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredNotes = allNotes.filter((note) => note.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: {notes: filteredNotes },
        };
    });
}

const { tag } = Astro.params;
const { notes } = Astro.props;
const pageTitle = 'Tagged' + {tag};
// const pageDescription = 'Notes tagged with' {tag};
---

<MainLayout pageTitle={pageTitle} pageDescription='Tags.'>
    <p>Notes tagged with {tag}.</p>
    <ul>
        {notes.map(note => <FetchedNote url={note.url} title={note.frontmatter.title}/>)}
    </ul>
</MainLayout>
