---
import MainLayout from '../layouts/MainLayout.astro';
import FetchedNote from '../components/FetchedNote.astro';

const gitNotes = await Astro.glob('../pages/notes/00Git/*.md');
const htmlNotes = await Astro.glob('../pages/notes/01HTML/*.md');
const pageTitle = 'Web Development Notes';
const pageDescription = 'Table of Contents for all my front-end web development notes. Click on any listed item to be taken to its corresponding page.';
---

<MainLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <main>
        <h1>{pageTitle}</h1>
        <p>You can go through the table of contents and view notes by subject or click on tags to view a page listing all the tags associated with each note.</p>
        <section id="Tags">
            <h2>Tags</h2>
            <a href='/tags/'>Tags</a>
        </section>
        <section id='TOC'>
            <h2>Table Of Contents</h2>
            <h3>Git</h3>
            <nav>
                <ol type="i">
                    {gitNotes.map((note) => <FetchedNote url={note.url} title={note.frontmatter.title} />)}
                </ol>
            </nav>
            <h3>HTML</h3>
            <nav>
                <ol type="i">
                    {htmlNotes.map((note) => <FetchedNote url={note.url} title={note.frontmatter.title} />)}
                </ol>
            </nav>
        </section>
    </main>
</MainLayout>

<style>
    #Tags , #TOC {
        width: 260px;
        padding: 10px 20px;
        margin: 20px 0 20px;
        box-sizing: content-box;
        border-radius: 10px;
        background-color: var(--card-colour);
    }
    #Tags {
        padding: 10px 20px 20px;
    }
</style>