---
import MainLayout from '../layouts/MainLayout.astro';
import FetchedNote from '../components/FetchedNote.astro';

const gitNotes = await Astro.glob('../pages/notes/00Git/*.md');
const htmlNotes = await Astro.glob('../pages/notes/01HTML/*.md');
const pageTitle = 'Web Development Notes'
---

<MainLayout pageTitle={pageTitle}>
    <main>
        <h1>{pageTitle}</h1>
        <section id='TOC'>
            <h2>Table Of Contents</h2>
            <h3>Git</h3>
            <nav>
                <ol type="i">
                    {gitNotes.map((note) => <FetchedNote url={note.url} title={note.frontmatter.title} />)}
                </ol>
            </nav>
            <h3>HTML</h3>
            <nav>
                <ol type="i">
                    {htmlNotes.map((note) => <FetchedNote url={note.url} title={note.frontmatter.title} />)}
                </ol>
            </nav>
        </section>
    </main>
</MainLayout>

<style>
    h3 {
        font-size: 24px;
    }
    a {
        display: inline-block;
        margin: 0 0 20px;
    }
</style>