---
const allNotesArray = await Astro.glob('../pages/notes/**/*.md');
const { prevUrl, nextUrl } = Astro.props; // hide when done
---

<!-- <nav id="notes-navigation">
    <a href="">Previous Note</a>
    <a href="">Next Note</a>
</nav> -->

<nav id="notes-navigation">
    <a href={prevUrl}>Previous Note</a>
    <a href={nextUrl}>Next Note</a>
</nav>


<!-- for [astro] file
<nav id="notes-navigation">
    {prevUrl ? <a href={prevUrl}>Previous Note</a> : null}
    {nextUrl ? <a href={nextUrl}>Next Note</a> : null}
</nav> -->

<!-- <h1>{Astro.url}</h1>
<h2 id="addr"></h2> -->
<!-- <p>{allNotesArray}</p> -->

<style>
    #notes-navigation {
        height: 100px;
        margin: 100px auto 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--page-colour-accent);
    }

    #notes-navigation a {
        padding: 14px;
        border-radius: 5px;
        border: 1px solid var(--primary-colour);
    }

    #notes-navigation a:hover {
        background-color: var(--page-colour-hover);
    }
</style>

<!-- <script>
    document.getElementById("addr").innerHTML=window.location.href;
</script> -->