---
import MainLayout from "./MainLayout.astro";
import NotesNavigation from "../components/NotesNavigation.astro";
const { frontmatter } = Astro.props;
---
<MainLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
    <h1>{frontmatter.section}</h1>
    <section class="cards">
        <section class="card">
            <h2>{frontmatter.title}</h2>
            <p>{frontmatter.description}</p>
        </section>
        <section class="card">
            <h3>Tags</h3>
            <section>
                {frontmatter.tags.map((tag) => (<a class="tag" href={`/tags/${tag}`}>{tag}</a>))}
            </section>
        </section>
    </section>
    <slot />
    <NotesNavigation />
</MainLayout>

<style>
    .cards {
        width: 100%;
        height: 150px;
        /* display: flex; */
        background-color: gray;
    }

    .card {
        width: 200px;
        height: 100px;
        padding: 10px;
        margin: 0 50px 50px 0;
        display: inline-block;
        border-radius: 10px;
        background-color: var(--card-colour);
    }

    .tag {
        height: 26px;
        margin: 0 10px 10px 0;
        padding: 3px 4px;
        display: inline-block;
        font-size: 14px;
    }
</style>