---
import MainLayout from "./MainLayout.astro";
import NotesNavigation from "../NotesNavigation.astro";
const { frontmatter } = Astro.props;
---
<MainLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
    <h1>{frontmatter.section}</h1>
    <h2>{frontmatter.title}</h2>
    <p>{frontmatter.description}</p>
    <section>
        <h3>Tags</h3>
        <section>
            {frontmatter.tags.map((tag) => (<a class="tag" href={`/tags/${tag}`}>{tag}</a>))}
        </section>
    </section>
    <slot />
    <NotesNavigation />
</MainLayout>

<style>
    .tag {
        height: 26px;
        margin: 0 10px 10px 0;
        padding: 3px 4px;
        display: inline-block;
        font-size: 14px;
    }
</style>